<h1>Welcome to Re-ferally! </h1>
<p>Referally is easy to use... for buiness owners to patrons of your favorite busineses we help make things happen</p>


<%= link_to 'Current Offers', controller: 'offers' %>
